@model IEnumerable<MvcCoreLinqToXML.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Clientes">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                    <a asp-controller="Clientes"
                   asp-action="Update"
                   asp-route-idcliente="@item.IdCliente">
                        Edit
                    </a>  |
                    <a asp-controller="Clientes"
                   asp-action="Details"
                   asp-route-idcliente="@item.IdCliente">
                        Details
                    </a> |
                <a asp-controller="Clientes"
                    asp-action="Delete"
                   asp-route-idcliente="@item.IdCliente">
                    Eliminar
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
